version: 2
jobs:
  build:
    docker:
      - image: archlinux/archlinux
    steps:
      # https://github.com/qutebrowser/qutebrowser/commit/478e4de7bd1f26bebdcdc166d5369b2b5142c3e2
      - run: 'patched_glibc=glibc-linux4-2.33-4-x86_64.pkg.tar.zst && curl -LO "https://repo.archlinuxcn.org/x86_64/$patched_glibc" && bsdtar -C / -xvf "$patched_glibc"'
      - run: 'pacman -Syu --noconfirm'
      - run: 'pacman -S openssh git curl base-devel --noconfirm'
      - run: 'useradd -m dotfiles'
      - run: 'echo "dotfiles ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/dotfiles'
      - run: 'chmod 440 /etc/sudoers.d/dotfiles'
      - run: 'sudo -u git config --global init.defaultBranch master'
      - run: 'curl -sSL https://link.nan1.casa/dotfiles | sudo -u dotfiles sh'
